body{background-color: rgb(100, 167, 59);
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    min-height: auto;

}

    .container{
        margin: auto;
        background-color: white;
        width: 800px;
        padding: 30px;
    }
    
    ul, li{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    ul.slider{
        position: relative;
        width: 800px;
        height: 300px;
    }
    
    ul.slider li{
        position:absolute;
        left: 0;
        top: 0;
        opacity: 0;
        width: inherit;
        height: inherit;
        background-color: white;
        transition: opacity .5s;
    }
    
    ul.slider li img{
    
        width: 100%;
        height: 300px ;
        object-fit: cover;
    }
    
    ul.slider li:first-child{
        opacity: 1;
    }
    ul.slider li:target{
        opacity: 1;
    }
    
    
    
    
    
    
    
    
    .menu{
        text-align: center;
        margin: 20px;
    }
    .menu li{
        display: inline-block;
        text-align: center;
    }
    
    .menu li a{
        display: inline-block;
        color: white;
        text-decoration: none;
        background-color: rgb(255, 0, 0);
        padding: 10px;
        width: 20px;
        height: 20px;
        font-size: 20px;
        border-radius: 100%;
    }
.footer {
    padding: 1em 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;


}

.somos {text-align: center;

}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
 

.centrado{
    position: relative ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.somosfondo {
    text-align: center;
    color: #fff;
    background-color: #000;
  }

.accesorios{
    text-align: right;
}